.sceneRegister{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    padding-top: 48px;
    align-items: center;
}

.logIn{
    padding: 30px 92px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #2A2A2A;
}