.inputContainer{
    font-family: Helvetica;
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #303030;
}

.fieldWrapper{
    display: flex;
    align-items: center;
}

.fieldInput{
    width: 100%;
    display: block;
    background: #F9FAFB;
    border: 1px solid #DEDEE0;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.4px;
    color: rgba(102, 102, 102, 0.466455);
    padding: 19px 45px 21px 13px;
}

.showPassword{
    display: flex;
    height: 20px;
    margin-left: -35px;
    cursor: pointer;
}


